<p style="margin-left: 0.5em;">Reply</p>

<div id="reply-box">
  <div *ngFor="let comment of comments" [ngClass]="{'comment-container': true, 'creator-comment-container': isCommentCreator(comment)}" >
    <div>
      <p class="comment-name">{{comment?.creatorName}}</p>
      <p [ngClass]="{'comment':true, 'creator-comment': isCommentCreator(comment)}">{{comment?.comment}}</p>
    </div>
  </div>
</div>
<div
  *ngIf="this.auth.isLoggedIn()"
  id="reply-action-bar">
    <button (click)="onSendClick(commentInput)" mat-flat-button color="warn" >
      <mat-icon>send</mat-icon>
    </button>
    <input type="text" placeholder="Comment..." #commentInput>
</div>