<div id="nav-bar">
  <div id="nav-bar-content">
    <div id="nav-bar-left">
      <div style="font-size: 1.5em;" class="nav-bar-items"> <a routerLink="/">Logo</a> </div>
    </div>
    <div id="nav-bar-right">
      <a routerLink="/postfeed">PostFeed
      </a>
      <div
        *ngIf="!loggedIn()"
        (click)="onLoginClick()"
        class="nav-bar-items">Login
      </div>
      <span
        *ngIf="loggedIn() && userHasProfile"
        
        class="nav-bar-items">Hello, {{getUsername()}}
      </span>
      <div
        *ngIf="loggedIn()"
        (click)="onLogout()"
        class="nav-bar-items"
      >Logout</div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>

<app-profile [show]="loggedIn() && !userHasProfile" />
