<div id="authenticator">
  <mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title>{{getStateText()}}</mat-card-title>
    </mat-card-header>

    <div *ngIf="isLoginState()">
      <input #loginEmail type="text" placeholder="Email">
      <input #loginPassword type="password" placeholder="Password">
      <button (click)="onLogin(loginEmail,loginPassword)" mat-flat-button color="warn">Login</button>
    </div>

    <div *ngIf="isRegisterState()">
      <input #registerEmail type="text" placeholder="Email">
      <input #registerPassword type="password" placeholder="Password">
      <input #registerConfirmPassword type="password" placeholder="Confirm Password">
      <button
        (click)="onRegister(
          registerEmail,
          registerPassword,
          registerConfirmPassword
        )"
        mat-flat-button color="warn">Create</button>
    </div>

    <div *ngIf="isForgotPasswordState()">
      <input #resetEmail type="text" placeholder="Email">
      <button (click)="onResetClick(resetEmail)"  mat-flat-button color="warn">Reset</button>
    </div>

    <mat-card-actions align="end">
      <button (click)="onForgotPasswordClick()" mat-flat-button>Forgot Password</button>
      <button (click)="onCreateAnAccountClick()" mat-flat-button>Create an Account</button>
      <button (click)="onLoginClick()" mat-flat-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>